@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html {
    scroll-behavior: smooth;
}

.logo > div {
    filter: invert(56%) sepia(33%) saturate(3716%) hue-rotate(150deg)
        brightness(97%) contrast(95%);
}

.logo:hover > div {
    width: 8rem;
}

.icon:hover {
    filter: invert(56%) sepia(33%) saturate(3716%) hue-rotate(150deg)
        brightness(97%) contrast(95%);
}

.mobile-nav {
    backdrop-filter: blur(10px) saturate(39%);
    -webkit-backdrop-filter: blur(10px) saturate(39%);
    background-color: rgba(209, 213, 219, 0.21);
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
        0px 1px 0px 0px rgba(25, 28, 33, 0.02),
        0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

.back-to-top {
    background: #f1f5f9;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background: #f1f5f9;
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
}

.img-pattern {
    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(#9f9f9f 1px, #ffffff 1px);
    background-size: 20px 20px;
}

/* 3 dot loader */
.loader {
    width: 2rem;
    height: 1rem;
    background: radial-gradient(circle closest-side, #000 90%, #0000) 0 /
        calc(100% / 3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 2s steps(4) infinite;
    transform: translate(0px, -4px);
}

@keyframes l1 {
    to {
        clip-path: inset(0 -34% 0 0);
    }
}

.bordered-heading-text {
    color: #fefefe;
    text-shadow: -1px 1px 0 #d1d5db, 1px 1px 0 #d1d5db, 1px -1px 0 #d1d5db,
        -1px -1px 0 #d1d5db;
}

.diagonal-background {
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}

.skill:hover > .skill_logo {
    scale: 1.2;
}

.github-projects:hover > .github-logo {
    scale: 1.1;
}

.button:hover > .button-div {
    height: 0.6rem;
}

.button:hover > .button-text {
}

.footer {
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
    background: #e5e7eb; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f3f4f6,
        #e5e7eb
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f3f4f6,
        #e5e7eb
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.resume-wrapper {
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
}
